= render partial: 'tweets/header'

.user_new
  %h2 Sign up
  = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :nickname
      %br/
      = f.text_field :nickname, autofocus: true, maxlength: "6", class: "form-control"
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "form-control"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    
    = f.submit "Sign up", class: "btn btn-primary"
  = render "devise/shared/links"
