.header
  .header__box
    .header__box__title
      = link_to "family-blog", root_path
    .header__box__select
      
      - if user_signed_in?
        %span= current_user.nickname
        %ul.header__box__select__log
          %li= link_to "マイページ", "/users/#{current_user.id}"
          
        = link_to  "投稿する", "/tweets/new", class: "post"
      
      - else
        .header__box__select__start
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "ブログを始める", new_user_registration_path, class: 'post'
