
%table.table
  %tbody.table__list
    .table__list__image
      = image_tag @tweet.image.to_s, size: "400x400", class: ".table__list__image__photo"
    %tr
      %th= User.human_attribute_name(:nickname)
      %td= @tweet.user.nickname
    %tr
      %th= Tweet.human_attribute_name(:title)
      %td= @tweet.title
    %tr
      %th= Tweet.human_attribute_name(:text)
      %td= simple_format(h(@tweet.text), {}, sanitize: false, wrapper_tag: "div")

.comment
  - if current_user
    = form_with(model: [@tweet, @comment], local: true) do |form|
      %td= form.text_area :text, placeholder: "コメントする", rows: "3", class: 'form-control'
      %td= form.submit "コメントする"
  - else
    %strong
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

  %h3 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      %p
        %strong
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          ：
        = comment.text





= render partial: 'footer'